h1{

    padding-top: 2%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}

div{

    padding-left: 9%;
    padding-right: 9%;
    padding-top: 4%;

}


table{

    border: 1px solid #1a1818;
    border-collapse: collapse;
    text-align: center;
}

td,th{

    border: 1px solid #1a1818;
    border-collapse: collapse;
    padding: 15px;
}

th{

    background-color: #5f7a8b;
}