html{
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: white;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
header{
    background-color: darkgray;
    text-align: center;
    padding: 20px;
    margin: 20;
    border-style: solid;
    border-width: 2px;
    border-color: whitesmoke;
    border-radius: 10px;
    color: #fff;
}
footer{
    background-color: darkgoldenrod;
    padding: 20px;
    margin: 20;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
}
/*a{
    text-decoration: none;
    cursor: progress;
    color: white;
}*/
ul, li{
    list-style: none;
}
@media(max-width: 640px){
    body{
        min-height: 0;
    }
    .envoltorio{
        flex-direction: column;
    }
    .content{
        flex-basis: auto;
    }
    nav{
        width: auto;
        order: 0;
    }
}
nav{
    background-color: darkcyan;
    padding: 20px;
    margin: 20;
    border-style: solid;
    border-width: 2px;
    border-color: whitesmoke;
    border-radius: 10;
}
section{
    background-color: darkolivegreen;
    padding: 20px;
    margin: 20;
    border-style: solid;
    border-width: 2px;
    border-color: whitesmoke;
    border-radius: 10;
}
img{
    float: left;
    margin-top: 1.1vw;
    margin-right: 2vw;
    border-radius: 2vh;
    outline: 5px solid goldenrod;
    max-width: 100%;
}
p::first-letter{
    font-size: 2.2em;
    color: darkgray;
}
nav{
    width: 15em;
    order: 0;
}
h2{
    color: white;
}
.envoltorio{
    display: block;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
.content{
    display: block;
    flex: 1;
}
@media print{
    body{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        background-color: white;
    }
    nav{
        display: none;
    }
}
nav a{
    display: block;
    padding: .5em 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    cursor: progress;
}