/* Esta es la hoja de estilo
del ejercicio 1 CSS Flexbox del
modelo de examen*/
body {
    font-family: 'Trebuchet MS', 'Geneva', 'sans-serif';
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover; /*Para que cubra toda la pantalla*/
}
p::first-letter{
    font-size: 200%;
    font-weight: bold;
    color: #4c3803;
}
header{ /*Estilo encabezado*/
    background-color: #b28306;
    color: #4c3803;
    text-align: center;
    border-radius: 20px;
    border-bottom: 1px solid;
    padding: 1rem; /*Busca qué es un rem*/
}
aside{ /*Estilo del lateral*/
    color: #4c3803;
    border-radius: 20px;
    background-color: #b28306;
}
nav{ /*Barra de navegación/menú para amigos*/
    display: flex;
    background-color: #ebcd7c;
    border-radius: 20px;
    padding: 5px 0px;

}
nav a{ /*Estilo para enlaces dentro de la barra de navegación*/
    flex: auto;
    text-align: center;
    background-color: #4c3803;
    color: #b28306;
    margin: 0 5px;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 0px;
}
nav a:hover{
    outline: 1px solid white;
    text-decoration: none;
    color: white;
}
a{
    color: grey;
    text-decoration: none;
    font-weight: bold;
}
/*A partir de aquí vamos a cambiar la disposición
de los elementos cuando el tamaño de la pantalla sea
superior a 480px*/
@media screen and (min-width: 560px) {
    body{
        display: flex;
        flex-direction: column;
        max-width: 75rem;
        margin: auto;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 0.5rem solid;
    }
    nav, header{
        order: -1;
    }
    article{
        flex: 75%;
    }
    aside{
        flex: 25%;
    }
}