body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div{
    border-style: solid;
    border-width: 4px;
    background-color: lightgray;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
#cajagrande{
    display: grid;
    width: 80%;
    height: 84vh;
    border-style: dashed;
    border-width: 2px;
    background-color: lightgray;
    grid-template-areas:
    'header header header header'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'menu menu menu menu'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'content content right right'
    'footer footer footer footer'
    'footer footer footer footer'
    'footer footer footer footer';
}
.cabecera{
    grid-area: header;
    background-color: lightblue;
}
.menu{
    grid-area: menu;
    background-color: bisque;
}
.contenido{
    background-color: salmon;
    grid-area: content;
}
.banner{
    background-color: turquoise;
    grid-area: right;
}
.pie{
    grid-area: footer;
}